<div class="row">
  <div class="col-md-8 offset-md-2 pt-5">
    <h3>Stationary Items</h3>
    <form [formGroup]="esmForm">
      <div class="form-group">
        <div class="dropdown">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Select Item from List
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="javascript:void(0)" *ngFor="let item of itemList"
              (click)="doOnSelectItem(item)">{{item.productName}}</a>
          </div>
        </div>
      </div>
      <div *ngIf="showAddtoCartBlock">
        <div class="form-group">
          <label>Product Name: </label>
          <label>{{selectedItem.productName}}</label>
        </div>
        <div class="form-group">
          <label>Unit Price: </label>
          <label>{{selectedItem.unitPrice}}</label>
        </div>
        <div class="form-group">
          <label>Quantity:</label>
          <input type="text" formControlName="quantity" class="form-control" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" (click)="doAddToCart()">Add To Cart</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-8 offset-md-2 pt-5">
    <h3>Item in Cart</h3>
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped">
        <thead class="table-primary">
          <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cartList; let i = index;">
            <td>{{item.productId}}</td>
            <td>{{item.productName}}</td>
            <td>{{item.unitPrice}}</td>
            <td>{{item.quantity}}</td>
            <td><button class="btn btn-primary" (click)="doOrder(item)">Order</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>